.bg-cover{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.bg-attachment-fixed{
    background-attachment: fixed;
}
.object-fit-cover{
    object-fit: cover;
}
